body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    background: #fff;
    z-index: 1000;
    height: 40px;
    width: 100%;
    padding: 12px 0px 12px 10px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 4px 0.1px #ededed;
    margin-top: -15px;
}
.cdek-photo {
    width: 30%;
}
.content {
    padding: 0px 25px 0px 25px;
    position: relative;
    top: 70px;
    margin-bottom: 0px;
}
.cdekIdBlockLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}
.cdekIdBlock {
    height: 60px;
    margin-top: 15px;
    border: 1px dashed #e0e0e0;
    border-radius: 8px;
    padding: 0px 10px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowsIcon {
    width: 15px;
    height: 19px;
    margin-right: 5px;
}
.cdekIdPhoto {
    width: 98%;
}

.inputBlock {
    font-family: Roboto,sans-serif;
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.inputBlock h1 {
    margin-bottom: 25px;
    font-weight: 400;
}
.input-btn-block {
    display: flex;
    align-items: center;
}
.inputBlock input {
    width: 75%;
    height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 13px 18px;
    margin-right: 5px;
    font-weight: 700;
}
.inputBlock button {
    padding: 15px 16px;
    min-width: unset;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #b9b9b9;
    color: #fff;
    border: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.orderIcone {
    display: flex;
    align-items: center;
    width: 100px;
}
.orderIcone p {
    color: rgba(0,0,0,0.8);
}
.order-create-photo {
    width: 14px;
    height: 15px;
    margin-right: 8px;
}
.orderNumber {
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    margin: 0;
}
.from-to-text {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    color: #000000;
}
.from-to-text p {
    margin: 5px 0px 10px 0px;
}
.on-the-road-photo {
    width: 100%;
    margin-bottom: 5px;
}
.cardRecipient {
    font-family: Roboto,sans-serif;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 0px #c5c5c5;
}
.alignText {
    font-size: 14px;
    font-weight: 300;
    border: 1px dashed #e0e0e0;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.align-icon {
    width: 25px;
    height: 23px;
    margin-right: 3px;
    margin-left: 5px;
}
.alignText p {
    text-transform: inherit;
    margin: 0;
}
.cardRecipient h1 {
    font-size: 14px;
    color: gray;
    font-weight: 100;
    margin: 0px 0px 2px 0px;
}
.uppercaseText {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
}
.trackPhoto {
    margin-bottom: 30px;
}
.documentsBlock {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
    color: #2b2b2b;
}
.documentsBlock p {
    font-size: 13px;
    margin: 0;
}
.documentsBlock-heading {
    display: flex;
    align-items: center;
    font-size: 9px;
}
.documentsBlock-heading img {
    width: 7%;
    height: 7%;
    margin-right: 10px;
}
.endBlock {
    height: 965px;
    background-color: #212121;
    margin-top: 120px;
}
.endBlockContent {
    padding: 30px 15px 0px 15px;
    font-family: Roboto,sans-serif;
    color: white;
}
.endBlockContent h1 {
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}
.endBlockContent p {
    font-size: 16px;
    margin-right: 20px;
}
.endBlockContent a {
    color: white;
    text-decoration: none;
}
.columns {
    display: flex;
    margin-bottom: 20px;
}
.socialnetworksLinks {
    display: flex;
}
.socialnetworks {
    margin: 20px 0px 10px 0px;
}
.socialnetworks h1 {
    font-size: 12px;
    color: #939393;
}
.socialnetworks p {
    font-size: 13px;
    font-weight: 600;
}
.downloadTheApp {
    margin-bottom: 20px;
}
.downloadTheAppLinks {
    display: flex;
}
.downloadTheApp h1 {
    font-size: 12px;
    color: #939393;
}
.downloadTheApp p {
    font-size: 13px;
    font-weight: 600;
}
.finalLinks p {
    font-size: 13px;
}